python-telegram-bot==21.9
chardet==5.2.0
baidu-aip==4.16.13
pillow==11.0.0
pandas==2.2.3
matplotlib==3.9.2
fuzzywuzzy==0.18.0
python-levenshtein==0.26.0
transmission-rpc==7.0.11
deluge-client==1.10.2
flexget==3.13.5
